AIRFLOW_VERSION=3.3.0
AIRFLOW_PYTHON_VERSION=3.12
POSTGRES_VERSION=16.11
AIRFLOW_UID=50000
AIRFLOW_API_BIND_ADDRESS=127.0.0.1
AIRFLOW_API_PORT=8080
POSTGRES_BIND_ADDRESS=127.0.0.1
POSTGRES_PORT=5432
AIRFLOW_PARALLELISM=4
AIRFLOW_MAX_ACTIVE_TASKS_PER_DAG=2
AIRFLOW_MAX_ACTIVE_RUNS_PER_DAG=1
AIRFLOW_ADMIN_USERNAME=airflow_admin
